{% extends 'base.html'%}

{%block title%}Ofertas{% endblock %}

{%block content%}
<header class="text-center">
    <h1>OFERTAS</h1>
</header>    
    <p class="lead text-center">Consulta nuestras últimas ofertas en la tienda.</p>
<!--    <p>¿Hay una oferta especial? {{is_special_offer|yesno:"Sí,No"}}</p> se comentó en views también-->
    <p>Fecha de hoy: {{current_date|date:"d-m-Y"}}</p>
    {% if ofertas %}
        <h2>Productos en Oferta</h2>
        <ul>
            {% for oferta in ofertas %}
                <li>
                    {{oferta.producto.nombre}}:  Precio Original: $ {{oferta.producto.precio}} - Precio con Descuento: $ {{oferta.precio_oferta}} -> Descuento: {{oferta.porcentaje_descuento}}%
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay ofertas disponibles actualmente</p>
    {% endif %}
    
{% endblock %}